# A Crash Course in Python

```sh
# create a Python 3.6 environment named "dsfs"
conda create -n dsfs python=3.6
#
# To activate this environment, use:
# > source activate dsfs
#
# To deactivate an active environment, use:
# > source deactivate
#
```

## Whitespace Formatting

In [1]:
# The pound sign marks the start of a comment. Python itself
# ignores the comments, but they're helpful for anyone reading the code.
for i in [1, 2, 3, 4, 5]:
    print(i)                    # first line in "for i" block
    for j in [1, 2, 3, 4, 5]:
        print(j)                # first line in "for j" block
        print(i + j)            # last line in "for j" block
    print(i)                    # last line in "for i" block
print("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

In [2]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
                           13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)

long_winded_computation

210

In [3]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

easier_to_read_list_of_lists = [[1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9]]

list_of_lists, easier_to_read_list_of_lists

([[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [4]:
two_plus_three = 2 + \
                 3

two_plus_three

5

In [5]:
for i in [1, 2, 3, 4, 5]:

    # notice the blank line
    print(i)

1
2
3
4
5

## Modules

In [6]:
import re
my_regex = re.compile("[0-9]+", re.I)
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [7]:
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [8]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

In [9]:
match = 10
from re import *    # uh oh, re has a match function
print(match)        # "<function match at 0x10281e6a8>"

<function match at 0x100b198b0>

## Functions

In [10]:
def double(x):
    """
    This is where you put an optional docstring that explains what the
    function does. For example, this function multiplies its input by 2.
    """
    return x * 2

double(1)

2

In [11]:
def apply_to_one(f):
    """Calls the function f with 1 as its argument"""
    return f(1)

my_double = double             # refers to the previously defined function
x = apply_to_one(my_double)    # equals 2
x

2

In [12]:
y = apply_to_one(lambda x: x + 4)      # equals 5
y

5

In [13]:
another_double = lambda x: 2 * x       # Don't do this

def another_double(x):
    """Do this instead"""
    return 2 * x

In [14]:
def my_print(message = "my default message"):
    print(message)

my_print("hello")   # prints 'hello'
my_print()          # prints 'my default message'

hello
my default message

In [15]:
def full_name(first = "What's-his-name", last = "Something"):
    return first + " " + last

print(full_name("Joel", "Grus"))    # "Joel Grus"
print(full_name("Joel"))            # "Joel Something"
print(full_name(last="Grus"))       # "What's-his-name Grus"

Joel Grus
Joel Something
What's-his-name Grus

## Strings

In [16]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

single_quoted_string == double_quoted_string

True

In [17]:
tab_string = "\t"       # represents the tab character
len(tab_string)         # is 1

1

In [18]:
not_tab_string = r"\t"  # represents the characters '\' and 't'
len(not_tab_string)     # is 2

2

In [19]:
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""

multi_line_string

'This is the first line.\nand this is the second line\nand this is the third line'

In [20]:
first_name = "Joel"
last_name = "Grus"

In [21]:
full_name1 = first_name + " " + last_name             # string addition
full_name2 = "{0} {1}".format(first_name, last_name)  # string.format

full_name1, full_name2

('Joel Grus', 'Joel Grus')

In [22]:
full_name3 = f"{first_name} {last_name}"

full_name3

'Joel Grus'

## Exceptions

In [23]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

## Lists

In [24]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

list_length = len(integer_list)     # equals 3
list_sum    = sum(integer_list)     # equals 6

list_length, list_sum

(3, 6)

In [25]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

zero = x[0]          # equals 0, lists are 0-indexed
one = x[1]           # equals 1
nine = x[-1]         # equals 9, 'Pythonic' for last element
eight = x[-2]        # equals 8, 'Pythonic' for next-to-last element
x[0] = -1            # now x is [-1, 1, 2, 3, ..., 9]

zero, one, nine, eight, x

(0, 1, 9, 8, [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
first_three = x[:3]                 # [-1, 1, 2]
three_to_end = x[3:]                # [3, 4, ..., 9]
one_to_four = x[1:5]                # [1, 2, 3, 4]
last_three = x[-3:]                 # [7, 8, 9]
without_first_and_last = x[1:-1]    # [1, 2, ..., 8]
copy_of_x = x[:]                    # [-1, 1, 2, ..., 9]

first_three, three_to_end, one_to_four, last_three, without_first_and_last, copy_of_x

([-1, 1, 2],
 [3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4],
 [7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8],
 [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
every_third = x[::3]                 # [-1, 3, 6, 9]
five_to_three = x[5:2:-1]            # [5, 4, 3]

every_third, five_to_three

([-1, 3, 6, 9], [5, 4, 3])

In [28]:
1 in [1, 2, 3], 0 in [1, 2, 3]

(True, False)

In [29]:
x = [1, 2, 3]
x.extend([4, 5, 6])     # x is now [1, 2, 3, 4, 5, 6]

x

[1, 2, 3, 4, 5, 6]

In [30]:
x = [1, 2, 3]
y = x + [4, 5, 6]       # y is [1, 2, 3, 4, 5, 6]; x is unchanged

x, y

([1, 2, 3], [1, 2, 3, 4, 5, 6])

In [31]:
x = [1, 2, 3]
x.append(0)      # x is now [1, 2, 3, 0]
y = x[-1]        # equals 0
z = len(x)       # equals 4

x, y, z

([1, 2, 3, 0], 0, 4)

In [32]:
x, y = [1, 2]    # now x is 1, y is 2

x, y

(1, 2)

In [33]:
_, y = [1, 2]    # now y == 2, didn't care about the first element

y

2

## Tuples

In [34]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3      # my_list is now [1, 3]

my_tuple, other_tuple, my_list

((1, 2), (3, 4), [1, 3])

In [35]:
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [36]:
def sum_and_product(x, y):
    return (x + y), (x * y)

sp = sum_and_product(2, 3)     # sp is (5, 6)
s, p = sum_and_product(5, 10)  # s is 15, p is 50

sp, s, p

((5, 6), 15, 50)

In [37]:
x, y = 1, 2     # now x is 1, y is 2
x, y = y, x     # Pythonic way to swap variables; now x is 2, y is 1

x, y

(2, 1)

## Dictionaries

In [38]:
empty_dict = {}                     # Pythonic
empty_dict2 = dict()                # less Pythonic
grades = {"Joel": 80, "Tim": 95}    # dictionary literal

empty_dict == empty_dict2

True

In [39]:
joels_grade = grades["Joel"]        # equals 80

joels_grade

80

In [40]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("no grade for Kate!")

no grade for Kate!

In [41]:
joel_has_grade = "Joel" in grades     # True
kate_has_grade = "Kate" in grades     # False

joel_has_grade, kate_has_grade

(True, False)

In [42]:
joels_grade = grades.get("Joel", 0)   # equals 80
kates_grade = grades.get("Kate", 0)   # equals 0
no_ones_grade = grades.get("No One")  # default default is None

joels_grade, kates_grade, no_ones_grade

(80, 0, None)

In [43]:
grades["Tim"] = 99                    # replaces the old value
grades["Kate"] = 100                  # adds a third entry
num_students = len(grades)            # equals 3

num_students

3

In [44]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [45]:
tweet_keys   = tweet.keys()     # iterable for the keys

tweet_keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [46]:
tweet_values = tweet.values()   # iterable for the values

tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [47]:
tweet_items  = tweet.items()    # iterable for the (key, value) tuples

tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [48]:
"user" in tweet_keys            # True, but not Pythonic

True

In [49]:
"user" in tweet                 # Pythonic way of checking for keys

True

In [50]:
"joelgrus" in tweet_values      # True (slow but the only way to check)

True

## defaultdict

In [51]:
document = ["data", "science", "from", "scratch"]

word_counts = {}
for word in document:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

word_counts

{'data': 1, 'science': 1, 'from': 1, 'scratch': 1}

In [52]:
word_counts = {}
for word in document:
    try:
        word_counts[word] += 1
    except KeyError:
        word_counts[word] = 1

word_counts

{'data': 1, 'science': 1, 'from': 1, 'scratch': 1}

In [53]:
word_counts = {}
for word in document:
    previous_count = word_counts.get(word, 0)
    word_counts[word] = previous_count + 1

word_counts

{'data': 1, 'science': 1, 'from': 1, 'scratch': 1}

In [54]:
from collections import defaultdict

word_counts = defaultdict(int)          # int() produces 0
for word in document:
    word_counts[word] += 1

word_counts

defaultdict(int, {'data': 1, 'science': 1, 'from': 1, 'scratch': 1})

In [55]:
dd_list = defaultdict(list)             # list() produces an empty list
dd_list[2].append(1)                    # now dd_list contains {2: [1]}

dd_list

defaultdict(list, {2: [1]})

In [56]:
dd_dict = defaultdict(dict)             # dict() produces an empty dict
dd_dict["Joel"]["City"] = "Seattle"     # {"Joel" : {"City": Seattle"}}

dd_dict

defaultdict(dict, {'Joel': {'City': 'Seattle'}})

In [57]:
dd_pair = defaultdict(lambda: [0, 0])
dd_pair[2][1] = 1                       # now dd_pair contains {2: [0, 1]}

dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [0, 1]})

## Counters

In [58]:
from collections import Counter
c = Counter([0, 1, 2, 0])          # c is (basically) {0: 2, 1: 1, 2: 1}

c

Counter({0: 2, 1: 1, 2: 1})

In [59]:
# recall, document is a list of words
word_counts = Counter(document)

word_counts

Counter({'data': 1, 'science': 1, 'from': 1, 'scratch': 1})

In [60]:
# print the 10 most common words and their counts
for word, count in word_counts.most_common(10):
    print(word, count)

data 1
science 1
from 1
scratch 1

## Sets

In [61]:
primes_below_10 = {2, 3, 5, 7}

In [62]:
s = set()
s.add(1)       # s is now {1}
s.add(2)       # s is now {1, 2}
s.add(2)       # s is still {1, 2}
x = len(s)     # equals 2
y = 2 in s     # equals True
z = 3 in s     # equals False

s, x, y, z

({1, 2}, 2, True, False)

In [63]:
hundreds_of_other_words = []  # required for the below code to run

stopwords_list = ["a", "an", "at"] + hundreds_of_other_words + ["yet", "you"]

"zip" in stopwords_list     # False, but have to check every element

False

In [64]:
stopwords_set = set(stopwords_list)
"zip" in stopwords_set      # very fast to check

False

In [65]:
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list)                # 6
item_set = set(item_list)                 # {1, 2, 3}
num_distinct_items = len(item_set)        # 3
distinct_item_list = list(item_set)       # [1, 2, 3]

num_items, item_set, num_distinct_items, distinct_item_list

(6, {1, 2, 3}, 3, [1, 2, 3])

## Control Flow

In [66]:
if 1 > 2:
    message = "if only 1 were greater than two..."
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "when all else fails use else (if you want to)"

message

'when all else fails use else (if you want to)'

In [67]:
parity = "even" if x % 2 == 0 else "odd"

parity

'even'

In [68]:
x = 0
while x < 10:
    print(f"{x} is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [69]:
# range(10) is the numbers 0, 1, ..., 9
for x in range(10):
    print(f"{x} is less than 10")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [70]:
for x in range(10):
    if x == 3:
        continue  # go immediately to the next iteration
    if x == 5:
        break     # quit the loop entirely
    print(x)

0
1
2
4

## Truthiness

In [71]:
one_is_less_than_two = 1 < 2          # equals True
true_equals_false = True == False     # equals False

one_is_less_than_two, true_equals_false

(True, False)

In [72]:
x = None
assert x == None, "this is the not the Pythonic way to check for None"
assert x is None, "this is the Pythonic way to check for None"

x

In [73]:
def some_function_that_returns_a_string():
    return ""

s = some_function_that_returns_a_string()
if s:
    first_char = s[0]
else:
    first_char = ""

s

''

In [74]:
first_char = s and s[0]

first_char

''

In [75]:
print(x)
safe_x = x or 0

safe_x

None

0

In [76]:
safe_x = x if x is not None else 0

safe_x

0

In [77]:
all([True, 1, {3}])   # True, all are truthy

True

In [78]:
all([True, 1, {}])    # False, {} is falsy

False

In [79]:
any([True, 1, {}])    # True, True is truthy

True

In [80]:
all([])               # True, no falsy elements in the list

True

In [81]:
any([])               # False, no truthy elements in the list

False

## Sorting

In [82]:
x = [4, 1, 2, 3]
y = sorted(x)     # y is [1, 2, 3, 4], x is unchanged
x.sort()          # now x is [1, 2, 3, 4]

x, y

([1, 2, 3, 4], [1, 2, 3, 4])

In [83]:
# sort the list by absolute value from largest to smallest
x = sorted([-4, 1, -2, 3], key=abs, reverse=True)  # is [-4, 3, -2, 1]

x

[-4, 3, -2, 1]

In [84]:
# sort the words and counts from highest count to lowest
wc = sorted(word_counts.items(),
            key=lambda word_and_count: word_and_count[1],
            reverse=True)

wc

[('data', 1), ('science', 1), ('from', 1), ('scratch', 1)]

## List Comprehensions

In [85]:
even_numbers = [x for x in range(5) if x % 2 == 0]  # [0, 2, 4]

even_numbers

[0, 2, 4]

In [86]:
squares      = [x * x for x in range(5)]            # [0, 1, 4, 9, 16]

squares

[0, 1, 4, 9, 16]

In [87]:
even_squares = [x * x for x in even_numbers]        # [0, 4, 16]

even_squares

[0, 4, 16]

In [88]:
square_dict = {x: x * x for x in range(5)}  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [89]:
square_set  = {x * x for x in [1, -1]}      # {1}

square_set

{1}

In [90]:
zeros = [0 for _ in even_numbers]      # has the same length as even_numbers

zeros

[0, 0, 0]

In [91]:
pairs = [(x, y)
         for x in range(10)
         for y in range(10)]   # 100 pairs (0,0) (0,1) ... (9,8), (9,9)

len(pairs), pairs[:5], pairs[-5:]

(100,
 [(0, 0), (0, 1), (0, 2), (0, 3), (0, 4)],
 [(9, 5), (9, 6), (9, 7), (9, 8), (9, 9)])

In [92]:
increasing_pairs = [(x, y)                       # only pairs with x < y,
                    for x in range(10)           # range(lo, hi) equals
                    for y in range(x + 1, 10)]   # [lo, lo + 1, ..., hi - 1]

len(increasing_pairs), increasing_pairs[:5], increasing_pairs[-5:]

(45,
 [(0, 1), (0, 2), (0, 3), (0, 4), (0, 5)],
 [(6, 8), (6, 9), (7, 8), (7, 9), (8, 9)])

In [93]:
all(x < y for x, y in increasing_pairs)

True

## Automated Testing and assert

In [94]:
assert 1 + 1 == 2
assert 1 + 1 == 2, "1 + 1 should equal 2 but didn't"

In [95]:
def smallest_item(xs):
    return min(xs)

assert smallest_item([10, 20, 5, 40]) == 5
assert smallest_item([1, 0, -1, 2]) == -1

In [96]:
def smallest_item(xs):
    assert xs, "empty list has no smallest item"
    return min(xs)

try:
    smallest_item([])
except AssertionError as e:
    print(e)

empty list has no smallest item

## Object-Oriented Programming

In [97]:
class CountingClicker:
    """A class can/should have a docstring, just like a function"""

    def __init__(self, count = 0):
        self.count = count

    def __repr__(self):
        return f"CountingClicker(count={self.count})"

    def click(self, num_times = 1):
        """Click the clicker some number of times."""
        self.count += num_times

    def read(self):
        return self.count

    def reset(self):
        self.count = 0

In [98]:
clicker = CountingClicker()
assert clicker.read() == 0, "clicker should start with count 0"

clicker

CountingClicker(count=0)

In [99]:
clicker.click()
clicker.click()
assert clicker.read() == 2, "after two clicks, clicker should have count 2"

clicker

CountingClicker(count=2)

In [100]:
clicker.reset()
assert clicker.read() == 0, "after reset, clicker should be back to 0"

clicker

CountingClicker(count=0)

In [101]:
# A subclass inherits all the behavior of its parent class.
class NoResetClicker(CountingClicker):
    # This class has all the same methods as CountingClicker

    # Except that it has a reset method that does nothing.
    def reset(self):
        pass

In [102]:
clicker2 = NoResetClicker()
assert clicker2.read() == 0
clicker2.click()
assert clicker2.read() == 1

clicker2

CountingClicker(count=1)

In [103]:
clicker2.reset()
assert clicker2.read() == 1, "reset shouldn't do anything"

clicker2

CountingClicker(count=1)

## Iterables and Generators

In [104]:
def generate_range(n):
    i = 0
    while i < n:
        yield i   # every call to yield produces a value of the generator
        i += 1

for i in generate_range(10):
    print(f"i: {i}")

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [105]:
def natural_numbers():
    """returns 1, 2, 3, ..."""
    n = 1
    while True:
        yield n
        n += 1

In [106]:
evens_below_20 = (i for i in generate_range(20) if i % 2 == 0)

next(evens_below_20)

0

In [107]:
# None of these computations *does* anything until we iterate
data = natural_numbers()
evens = (x for x in data if x % 2 == 0)
even_squares = (x ** 2 for x in evens)
even_squares_ending_in_six = (x for x in even_squares if x % 10 == 6)
# and so on

assert next(even_squares_ending_in_six) == 16
assert next(even_squares_ending_in_six) == 36
assert next(even_squares_ending_in_six) == 196

data, evens

(<generator object natural_numbers at 0x1066ab7b0>,
 <generator object <genexpr> at 0x1066ab5f0>)

In [108]:
names = ["Alice", "Bob", "Charlie", "Debbie"]

# not Pythonic
for i in range(len(names)):
    print(f"name {i} is {names[i]}")

# also not Pythonic
i = 0
for name in names:
    print(f"name {i} is {names[i]}")
    i += 1

# Pythonic
for i, name in enumerate(names):
    print(f"name {i} is {name}")

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie
name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie
name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

## Randomness

In [109]:
import random
random.seed(10)  # this ensures we get the same results every time

In [110]:
four_uniform_randoms = [random.random() for _ in range(4)]

# [0.5714025946899135,       # random.random() produces numbers
#  0.4288890546751146,       # uniformly between 0 and 1
#  0.5780913011344704,       # it's the random function we'll use
#  0.20609823213950174]      # most often

four_uniform_randoms

[0.5714025946899135,
 0.4288890546751146,
 0.5780913011344704,
 0.20609823213950174]

In [111]:
random.seed(10)         # set the seed to 10
print(random.random())  # 0.57140259469
random.seed(10)         # reset the seed to 10
print(random.random())  # 0.57140259469 again

0.5714025946899135
0.5714025946899135

In [112]:
random.randrange(10)    # choose randomly from range(10) = [0, 1, ..., 9]

6

In [113]:
random.randrange(3, 6)  # choose randomly from range(3, 6) = [3, 4, 5]

4

In [114]:
up_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(up_to_ten)
print(up_to_ten)

[5, 6, 9, 2, 3, 7, 8, 4, 1, 10]

In [115]:
my_best_friend = random.choice(["Alice", "Bob", "Charlie"])

my_best_friend

'Bob'

In [116]:
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6)

winning_numbers

[4, 15, 47, 23, 2, 26]

In [117]:
four_with_replacement = [random.choice(range(10)) for _ in range(4)]
print(four_with_replacement)

[2, 9, 5, 6]

## Regular Expressions

In [118]:
import re

re_examples = [                        # all of these are true, because
    not re.match("a", "cat"),              #  'cat' doesn't start with 'a'
    re.search("a", "cat"),                 #  'cat' has an 'a' in it
    not re.search("c", "dog"),             #  'dog' doesn't have a 'c' in it
    3 == len(re.split("[ab]", "carbs")),   #  split on a or b to ['c','r','s']
    "R-D-" == re.sub("[0-9]", "-", "R2D2") #  replace digits with dashes
    ]

assert all(re_examples), "all the regex examples should be True"

## zip and Argument Unpacking

In [119]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

# zip is lazy, so you have to do something like the following
[pair for pair in zip(list1, list2)]    # is [('a', 1), ('b', 2), ('c', 3)]

[('a', 1), ('b', 2), ('c', 3)]

In [120]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
letters, numbers = zip(*pairs)

letters, numbers

(('a', 'b', 'c'), (1, 2, 3))

In [121]:
letters, numbers = zip(('a', 1), ('b', 2), ('c', 3))

letters, numbers

(('a', 'b', 'c'), (1, 2, 3))

In [122]:
def add(a, b): return a + b

add(1, 2)      # returns 3
try:
    add([1, 2])
except TypeError:
    print("add expects two inputs")
add(*[1, 2])   # returns 3

add expects two inputs

3

## args and kwargs

In [123]:
def doubler(f):
    # Here we define a new function that keeps a reference to f
    def g(x):
        return 2 * f(x)

    # And return that new function.
    return g

In [124]:
def f1(x):
    return x + 1

g = doubler(f1)

g(3) #  (3 + 1) * 2 should equal 8

8

In [125]:
g(-1) # (-1 + 1) * 2 should equal 0

0

In [126]:
def f2(x, y):
    return x + y

g = doubler(f2)
try:
    g(1, 2)
except TypeError:
    print("as defined, g only takes one argument")

as defined, g only takes one argument

In [127]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)

magic(1, 2, key="word", key2="word2")

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}

In [128]:
def other_way_magic(x, y, z):
    return x + y + z

x_y_list = [1, 2]
z_dict = {"z": 3}
other_way_magic(*x_y_list, **z_dict) # 1 + 2 + 3 should be 6

6

In [129]:
def doubler_correct(f):
    """works no matter what kind of inputs f expects"""
    def g(*args, **kwargs):
        """whatever arguments g is supplied, pass them through to f"""
        return 2 * f(*args, **kwargs)
    return g

g = doubler_correct(f2)
g(1, 2) # doubler should work now

6

## Type Annotations

In [130]:
def add(a, b):
    return a + b

assert add(10, 5) == 15,                  "+ is valid for numbers"
assert add([1, 2], [3]) == [1, 2, 3],     "+ is valid for lists"
assert add("hi ", "there") == "hi there", "+ is valid for strings"

try:
    add(10, "five")
except TypeError:
    print("cannot add an int to a string")

cannot add an int to a string

In [131]:
def add(a: int, b: int) -> int:
    return a + b

add(10, 5)           # you'd like this to be OK
add("hi ", "there")  # you'd like this to be not OK

'hi there'

In [132]:
# This is not in the book, but it's needed
# to make the `dot_product` stubs not error out.
from typing import List
Vector = List[float]

def dot_product(x, y): ...

# we have not yet defined Vector, but imagine we had
def dot_product(x: Vector, y: Vector) -> float: ...

In [133]:
from typing import Union

def secretly_ugly_function(value, operation): ...

def ugly_function(value: int, operation: Union[str, int, float, bool]) -> int:
    ...

In [134]:
def total(xs: list) -> float:
    return sum(xs)

total([1, 2, 3, 4])

10

In [135]:
from typing import List  # note capital L

def total(xs: List[float]) -> float:
    return sum(xs)

total([1., 2., 3., 4.])

10.0

In [136]:
# This is how to type-annotate variables when you define them.
# But this is unnecessary; it's "obvious" x is an int.
x: int = 5

In [137]:
values = []         # what's my type?
best_so_far = None  # what's my type?

In [138]:
from typing import Optional

values: List[int] = []
best_so_far: Optional[float] = None  # allowed to be either a float or None

In [139]:
lazy = True

# the type annotations in this snippet are all unnecessary
from typing import Dict, Iterable, Tuple

# keys are strings, values are ints
counts: Dict[str, int] = {'data': 1, 'science': 2}

# lists and generators are both iterable
if lazy:
    evens: Iterable[int] = (x for x in range(10) if x % 2 == 0)
else:
    evens = [0, 2, 4, 6, 8]

evens

In [140]:
# tuples specify a type for each element
triple: Tuple[int, float, int] = (10, 2.3, 5)

triple

(10, 2.3, 5)

In [141]:
from typing import Callable

# The type hint says that repeater is a function that takes
# two arguments, a string and an int, and returns a string.
def twice(repeater: Callable[[str, int], str], s: str) -> str:
    return repeater(s, 2)

def comma_repeater(s: str, n: int) -> str:
    n_copies = [s for _ in range(n)]
    return ', '.join(n_copies)

assert twice(comma_repeater, "type hints") == "type hints, type hints"

twice(comma_repeater, "str")

'str, str'

In [142]:
Number = int
Numbers = List[Number]

def total(xs: Numbers) -> Number:
    return sum(xs)

total([1, 2, 3, 4])

10